<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-text">
                <h4>Molecular Docking Viewer</h4>
                <p>Made by Vcarmelli</p>
            </div>
            <div>
                <a href="https://www.kinase-ai.com/" target="_blank">
                    <img class="footer-logo" src="{{ url_for('static', filename='img/kinase-ai.png') }}" alt="Kinase AI" >
                </a>
            </div>
        </div>
        <ul class="footer-links">
            <li><a href="https://www.facebook.com/vashti.karmelli16" target="_blank">Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/vashti-karmelli-c/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/Vcarmelli" target="_blank">Github</a></li>
        </ul>
    </div>
</footer>
