<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-text">
                <h4>Molecular Docking Viewer</h4>
                <p>&copy; 2025 Vcarmeli</p>
            </div>
            <div class="footer-text">
                <p>Logo </p>
                <h4>Kinase AI</h4>
            </div>
        </div>
        <ul class="footer-links">
            <li><a href="/privacy">Facebook</a></li>
            <li><a href="/terms">Github</a></li>
            <li><a href="/contact">LinkedIn</a></li>
        </ul>
    </div>
</footer>
