{% extends "layout/base.html" %}

{% block title %} Home {% endblock %} 

{% block content %}
    <section>
        <div class="title">
            <h1>Molecular Docking Viewer</h1>
            <h3>Dengue Drug Discovery: AI-Driven Design and In Silico Evaluation of Peptide Inhibitors For Dengue Virus 3 Envelope Protein</h3>
            <p>This web application focuses on visualizing molecular docking results for protein–peptide interactions in a clear, interactive interface to support antiviral drug research.</p>
        </div>
    </section>

    <section>
        <div>
            <h1 class="main-heading">Project Objectives</h1>
        </div>

        <div class="objectives">
            <div>

                <p>Constructing antiviral peptide sequences that effectively inhibit and bind with the DENV E protein, utilizing deep learning models</p>
            </div>
            <div>
                <p>Validating the predicted peptides using molecular docking to confirm their binding efficiency and stability within the target environment.</p>
            </div>
            <div>
                <p>Providing insights for further research development in the field of antiviral peptide discovery</p>
            </div>
        </div>
    </section>

    <section>
        <div>
            <h1 class="main-heading">Methodology</h1>
        </div>
    </section>

    <section>
        <div>
            <h1 class="main-heading">Behind the Words</h1>
        </div>
    </section>

{% endblock %}